body {
  margin: auto;
  background: #e7e5e2;
  font-family: monospace;
  font-size: 17px;
  line-height: 27px;
  color: #fff;
  background-image: url("./assets/back_image.jpg");
}

.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-container li {
  float: left;
}

.nav-container li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.social-center {
  text-align: center;
  color: #f39e12;
}

.nav-container {
  font-family: serif;
}

.code-open,
.code-close {
  display: inline;
}

/* Change the link color on hover */
.nav-container li a:hover {
  background-color: #111;
}

#download {
  margin-left: 255px;
}

.card {
  background: inherit;
  margin: 0 auto;
  margin-top: 50px;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.card--avatar {
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2);
}

.code-open,
.code-close,
.brace-open,
.brace-close {
  color: #0000;
  font-size: 45px;
}

.center-welcome {
  align-items: center;
  padding-left: 8%;
  margin-right: 25%;
  margin-left: 25%;
  font-size: 22px;
}

.heading {
  font-family: Times sans-serif;
}

.indented {
  margin: 50px;
}

/* flexbox layout settings */
.main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
  padding: 10px;
}

.skillset {
  display: inline-block;
}

.skillset ul {
  list-style-type: disc;
  background: inherit;
}

p.text {
  padding: 15px;
  margin: 15px;
  line-height: 25px;
  text-indent: 5%;
}

.right-side-bar,
.right-side-bar li,
.right-side-bar ul {
  /* 12em is the width of the columns */
  flex: 0 0 30em;
  list-style: disc;
}

.skillset ul li {
  color: #0000;
}

.right-side-bar {
  padding: 1em;
  border-radius: 3px;
  margin: 10px;
  line-height: 20px;
}

@media (--break-lg) {
  .HolyGrail-body {
    flex-direction: row;
  }

  .HolyGrail-content {
    flex: 1;
    padding: 0 var(--space-lg);
    margin: 0;
  }

  .right-side-bar {
    flex: 0 0 12em;
  }
}

.center-welcome img {
  margin: 0 auto;
}

/* Social icons styling */

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social {
  -webkit-transform: scale(0.8);

  /* Browser Variations: googled this stuff from internet */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/* Multicoloured Hover Variations */

#social-fb:hover {
  color: #4099ff;
}

#social-tw:hover {
  color: #40effe;
}

#social-gp:hover {
  color: #d34836;
}

#social-em:hover {
  color: #f39c12;
}

#social-ln:hover {
  color: #0077b5;
}
